{% extends "base.html" %}

{% block title %} 
About SNPEuro 
{% endblock %}

{% block content %} 
<h1>All about SNPEuro</h1>

<p> SNPEuro (Single Nucleotide Polymorphism Euro)is a web application that aims at retrieving SNP information for a genomic region of interest.</p>

<p>The database consists of SNPs from five European populations: British, Finnish, Iberian, Toscani and CEPH.</p>

<p>Users are able to select either a genomic coordinate, SNP name or a gene of interest. </p>   

<p>The name, genomic position, genotype frequencies and allele frequencies for each SNP will be retrieved.</p> 


{% endblock %}