{% extends "base.html" %}

{% block title %} 
SNPEuro Portal
{% endblock %}

{% block content %} 

<div class ="content-section">
    <!-- Download button -->
     <button class="btn btn-primary btn-sm button5 float-right" style="width:5%" onclick="exportTableToCSV('Statistics.csv')"><i class="fa fa-download" style="font-size:18px"></i></button>
  

</style>


<!-- Navigation tabs -->
<ul class="nav nav-tabs nav-fill">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#GA" style="font-size:3vw;"><b>Genomic Annotation</b></a>
</li>
</ul>




<!-- Genetic Annotation tabs -->
<div class="tab-content">
    <div class="tab-pane container active" id="#GA">
      
      <table class="table table-hover">
        <tr>
          <th scope="row">Number of Sites</th>
          <td>{{nsites}}</td>
        </tr>

        <tr>
          <th scope="row">Biallelic Sites</th>
          <td>{{bisites}}</td>
        </tr>
        <tr>
          <th scope="row">Polyallelic Sites</th>
          <td>{{psites}}</td>
      </table>
      

<body>
  <h3>Input parameters requested</h3>
  <form method="POST" action="">
<!-- add form for statistical tests, populations and sliding window-->
      {{form.hidden_tag()}}
      <fieldset class="form-group">
          <div class="form-group">
              {{ form.statistics.label(class="form-control-label") }}
              {% if form.statistics.errors %}
                  {{ form.statistics(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.search.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.statistics(class="form-control form-control-lg") }}
              {% endif %}
          </div>


          <div class="form-group">
            {{ form.enterpop.label(class="form-control-label") }}
            {% if form.enterpop.errors %}
                {{ form.enterpop(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.enterpop(class="form-control form-control-lg") }}
            {% endif %}
        </div>


        <div class="form-group">
            {{ form.slidwid.label(class="form-control-label") }}
            {% if form.slidwid.errors %}
                {{ form.slidwid(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.slidwid(class="form-control form-control-lg") }}
            {% endif %}
        </div>
     

      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
  </form>
</body>



<!-- Download button -->
        <script>
 function downloadCSV(csv, filename) {
                var csvFile;
                var downloadLink;

                csvFile = new Blob([csv], {type: "text/csv"});


                downloadLink = document.createElement("a");

                downloadLink.download = filename;

                downloadLink.href = window.URL.createObjectURL(csvFile);


                downloadLink.style.display = "none";

                document.body.appendChild(downloadLink);


                downloadLink.click();
            }


 function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) 
                    row.push("\""+cols[j].innerText+"\"");

                csv.push(row.join(","));        
            }

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
</script>

{% endblock %}