{% extends "base.html" %}

{% block title %} 
SNPEuro Portal
{% endblock %}

{% block content %} 
<body>
    <div class="genesearch"> 
        <h1>Gene Search<h1>
    </div> 
<!-- add form-->
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.gene_name.label(class="form-control-label") }}
                {% if form.gene_name.errors %}
                    {{ form.gene_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.search.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gene_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
    </form>
</body>
{% endblock %}