{% extends "base.html" %}

{% block title %} 
SNPEuro Portal 
{% endblock %}

{% block content %} 
<h1>{{name}}</h1>


</style>

<legend class="border-bottom mb-4">{{name}}</legend>

<!-- Navigation tabs -->
<ul class="nav nav-tabs nav-fill">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#BI">Genetic Annotation</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#PS">Statistical Results</a>
</li>
</ul>
<p> </p>


<!-- Genetic Annotation tabs -->
<div class="tab-content">
    <div class="tab-pane container active" id="BI">
      
      <table class="table table-hover">
        <tr>
          <th scope="row">SNP rs value</th>
          <td>{{name}}</td>
        </tr>

        <tr>
          <th scope="row">Genomic Position</th>
          <td>{{genomic_coordinate}}</td>
        </tr>
        <tr>
          <th scope="row">Gene Name</th>
          <td>{{geneid}}</td>
        </tr>
        <tr>
            <th scope="row">Alias</th>
            <td>{{gene_alias}}</td>
          </tr>
      </table>
{% endblock %}